@font-face {
    font-family: "CustomFontFamily";
    src: url("./assets/fonts/IndigoDemonExpandedItalic-aRqK.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "SecondCustomFont";
    src: url("./assets/fonts/FlyingPeacePersonalUseRegular-vmeK4.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "CustomFont";
    src: url("./assets/fonts/Maghelia-LVaM5.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-base: "CustomFontFamily", serif;
    --font-style: "SecondCustomFont", serif;
    --font-title: "CustomFont", serif;
    --font-alt: "Open Sans", sans-serif;
    --color-black: #0c0c0c;
    --color-primary: #EDEDED;
    --color-bg: #F8F8F8;
    --color-secondary: #2C59E5;
    --color-lithWhite: #FAFAFC;
    /* --color-grey: #aaaaaa; */
    --color-third: #9CADA6;
    --color-classic: #D9D9D9;
}