.app__header {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: padding 0.2s ease;
}
.empty-span{
    width: 100%;
    height: 1px ;
    background-color: black;
}
.app__header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-secondary);
  border-radius: 20px;
  padding: 1rem;
}

.app__header-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6vw;
  aspect-ratio: 1/1;
}
.empty-span{
    display: none;
}
.header-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__header-title {
  width: 100%;
  max-height: 50vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.app__header-title h4 {
  font-family: var(--font-title);
  font-weight: 900;
  font-size: 8vw;
  color: white;
  line-height: 1;
  transition: transform 0.2s ease;
}

.app__header-title h4:nth-of-type(2) {
  align-self: flex-end;
}
